/output/*
/raw_data/*
/misc/*
.Rproj.user
/scripts/download_SEVFS_gdrive_MVE_data.R
/scripts/MVE_PlainsGrassland_GraphicsStats.R
/quarto/MVE_Blue_QAQC_Report_files/
/quarto/MVE_Blue_QAQC_Report.html
/quarto/MVE_Black_QAQC_Report_files/
/quarto/MVE_Black_QAQC_Report.html
/quarto/MVE_Creosote_QAQC_Report_files/
/quarto/MVE_Creosote_QAQC_Report.html